/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

nav {
    background-color: #00ad90;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

#home {
    background-color: #f4f4f4;
    text-align: center;
}

#portfolio {
    background-color: #eaeaea;
    display: flex;
    flex-wrap: wrap; /* Falls es zu viele Projekte für eine Zeile gibt, werden sie umgebrochen */
    justify-content: space-between; /* Verteilung der Projekte mit Platz zwischen ihnen */
}

.project {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    flex-basis: 30%; /* Setzt die Breite jedes Projekts auf etwa 30% des Containers */
    box-sizing: border-box; /* Berücksichtigt Padding und Border in der Breite */
}

#contact {
    background-color: #f4f4f4;
}

footer {
    background-color: #00ad90;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

/* Dunkelmodus */
body[data-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

nav[data-theme="dark"] {
    background-color: #333;
}

.project[data-theme="dark"] {
    background-color: #1e1e1e;
    border: 1px solid #555;
}

footer[data-theme="dark"] {
    background-color: #333;
}

/* Responsivität */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5em 0;
    }
}

/* Toggle Button Style */
#theme-toggle {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    vertical-align: middle;
    appearance: none; /* Entfernt das Standarddesign */
}

#theme-toggle:checked {
    background-color: #00ad90;
}

#theme-toggle::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

#theme-toggle:checked::before {
    transform: translateX(20px);
}
