/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

img, video {
    width: 100%;
    max-width: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav {
    background-color: #00ad90;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

#home, #contact, footer {
    text-align: center;
}

#portfolio {
    background-color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Stile für das Kontaktformular */
#contact form {
    max-width: 500px; /* Maximale Breite des Formulars */
    margin: 0 auto; /* Zentrale Ausrichtung */
    background-color: #f9f9f9;
    padding: 1.5em;
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contact label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%; /* Volle Breite */
    padding: 0.5em; /* Innenabstand */
    margin-bottom: 1em; /* Abstand zwischen Feldern */
    border: 1px solid #ccc; /* Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: border-color 0.3s ease; /* Übergangseffekt */
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus {
    border-color: #00ad90; /* Rahmenfarbe bei Fokus */
    outline: none; /* Entfernen des Standardrahmens */
}

#contact textarea {
    height: 100px; /* Höhe des Textbereichs */
    resize: vertical; /* Vertikale Größenänderung erlauben */
}

#contact button[type="submit"] {
    width: 100%; /* Volle Breite des Buttons */
    padding: 0.6em; /* Innenabstand */
    background-color: #00ad90; /* Hintergrundfarbe */
    color: white; /* Schriftfarbe */
    font-weight: bold; /* Fettdruck */
    border: none; /* Kein Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Handzeiger */
    transition: background-color 0.3s ease; /* Übergangseffekt */
}

#contact button[type="submit"]:hover {
    background-color: #007a67; /* Hintergrundfarbe bei Hover */
}

/* Dunkelmodus */
body[data-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

nav[data-theme="dark"] {
    background-color: #333;
}

#home[data-theme="dark"], #contact[data-theme="dark"] {
    background-color: #1e1e1e;
}



.project[data-theme="dark"] {
    background-color: #1e1e1e;
    border: 1px solid #555;
}

footer[data-theme="dark"] {
    background-color: #333;
}

@media (max-width: 768px) {
    .project {
        flex-basis: 100%; /* Auf mobilen Geräten volle Breite */
    }
}
